html {
    height: 100%;
}

body {
    height: 100%%;
    color: white;
    padding: 80px 0;
    font-family: 'Rancho', cursive;
    background: rgba(255, 202, 55, 1);
    background: -moz-linear-gradient(top, rgba(255, 202, 55, 1) 0%, rgba(255, 127, 8, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 202, 55, 1)), color-stop(100%, rgba(255, 127, 8, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 202, 55, 1) 0%, rgba(255, 127, 8, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 202, 55, 1) 0%, rgba(255, 127, 8, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 202, 55, 1) 0%, rgba(255, 127, 8, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 202, 55, 1) 0%, rgba(255, 127, 8, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffca37', endColorstr='#ff7f08', GradientType=0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
}

.navbar-default {
    background-color: #F4B027;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-default a.navbar-brand,
.navbar-default a:hover.navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

#navbar a {
    color: white;
}

#navbar a:hover {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav .active a {
    text-decoration: underline;
    background: transparent;
}

.navbar-default .navbar-nav .active a:hover {
    text-decoration: underline;
    background: transparent;
}

#main-content {
    text-align: center;
}

textarea {
    resize: none;
    width: 100%;
}

.form-control {
    font-size: 18px;

}

h1 {
    font-size: 60px;
}

div.circle-avatar{
/* make it responsive */
max-width: 100%;
width:100%;
height:auto;
display:block;
/* div height to be the same as width*/
padding-top:100%;

/* make it a circle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimention to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
